/* Move down content because we have a fixed navbar that is 50px tall */
body {
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 61px;
    margin-right: 0px;
    padding-right: 0px;
}




.card-profile {
    width: 340px;
    margin: 50px auto;
    background-color: #e6e5e1;
    border-radius: 0;
    border: 0;
    -webkit-box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
    box-shadow: 1em 1em 2em rgba(0, 0, 0, 0.2);
}

    .card-profile .card-img-top {
        border-radius: 0;
    }

    .card-profile .card-img-profile {
        max-width: 100%;
        border-radius: 50%;
        margin-top: -95px;
        margin-bottom: 35px;
        border: 5px solid #e6e5e1;
    }

    .card-profile .card-title {
        margin-bottom: 50px;
    }

        .card-profile .card-title small {
            display: block;
            font-size: 0.6em;
            margin-top: 0.2em;
        }

    .card-profile .card-links {
        margin-bottom: 25px;
    }

        .card-profile .card-links .fa {
            margin: 0 1em;
            font-size: 1.6em;
        }

            .card-profile .card-links .fa:focus, .card-profile .card-links .fa:hover {
                text-decoration: none;
            }

            .card-profile .card-links .fa.fa-dribbble {
                color: #ea4b89;
                font-weight: bold;
            }

                .card-profile .card-links .fa.fa-dribbble:hover {
                    color: #e51d6b;
                }

            .card-profile .card-links .fa.fa-twitter {
                color: #68aade;
            }

                .card-profile .card-links .fa.fa-twitter:hover {
                    color: #3e92d5;
                }

            .card-profile .card-links .fa.fa-facebook {
                color: #3b5999;
            }

                .card-profile .card-links .fa.fa-facebook:hover {
                    color: #2d4474;
                }


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #59ff71;
    color: white;
    text-align: center;
}

/*.card-columns {
    @include media-breakpoint-only(lg) {
        column-count: 3;
    }

    @include media-breakpoint-only(sm) {
        column-count: 4;
    }

    @include media-breakpoint-only(xs) {
        column-count: 1;
    }
}*/



/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    .body-content {
        padding: 0;
    }
}
